@import 'variables';
@import 'stars';
@import 'card';

html {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $text-secondary-color;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}
